extends layout

block content
	h1
		span= title
	p.
		This is the MX autoconfiguration service for use with your personal mail
		client software on setting it up for accessing your mail boxes. Most
		likely this page isn't what you are looking for.
	p
		| Found out more on
		a(href="http://cepharum.de") cepharum.de
		| !
